/* mise en page */
html {
    margin:0;
    padding:0
}

body {
    margin: 100px 0 0 0;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
   background-position: center;
    background-size: cover;   
   
    
    
}


/* thèmes */
.dark-mode, .dark-mode header {
    background-color: #191F2C;
    color: white;
}

/* thèmes */
.dark-mode a {
    color: white;
}

.dark-mode .card {
    background-color: #2B303D;
}

/* Entête */
header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin:10px
}

.menu-icon{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.connexion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(233, 219, 219);
    margin-right: 10px;
    font-size: 25px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    max-width: 1200px;
    margin: auto;
   
    
}

header nav {
    display: flex;
    align-items: center; 
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    color:black;
     
}

header ul li {
    display: inline;
    padding:0.3rem;
    border: 1px solid transparent;
    border-radius: 5px;
   
    background-color: rgb(255, 255, 255); margin-bottom: 2rem;
}

header li {
    margin: 5px;
    position: relative;
  

}

header li a {
    text-decoration: none;
}

header li a:hover {
    color: #1d1ac4;
}


header nav form {
    position: absolute;
    right: 0;
    
}

header nav a {
    font-weight: bold;
    font-size: 110%;
}

/* Sous menu */
header nav ul li ul {
    position: absolute;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459);
    transition: 0.3s;
}

.dark-mode header nav ul li ul {
    background-color: #2B303D;
}



header nav ul li ul {
    display: block;
    width:100%;
    display: none;
    justify-content: center;
    align-items: center;
   
}

header nav ul li ul li {
    display: block;
    margin:20px 0; 
    text-align: center;
    align-items: center;
}

header nav ul li:hover ul {
    display: block;
}

/* Arrow source :https: //www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
    border: solid ;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom:3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Corps de la page */
h1{
    color: whitesmoke;
}
main {
    margin:auto;
    max-width:1200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main h1, main>p, footer {
    text-align:center;
}

footer {
    padding-top:20px
}

footer hr {
    margin-bottom: 20px;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Formulaires */


/* Tuiles source : https: //www.w3schools.com/howto/howto_css_cards.asp */
.card {
    width:380px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin:10px;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .container {
    padding: 2px 16px;
}

.card .container h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .container {
    margin-bottom: 10px;
}

.card .container span {
    display: inline-block;
    margin: 0;
    min-width: 48%;
}

.card .container a {
    display: inline-block;
    margin: 0;
    text-align: right;
    min-width:50%;
}


/*table*/

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.678);
    border-bottom: black 1px solid;
    padding:5px;
}

th{
    background-color: rgb(143, 143, 143);
}

th, td {
    text-align: left;
    padding: 8px;
     border-bottom: black 1px solid;
}



/* Flex */
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}


/* Dialog */
dialog {
    border: 0;
    border-radius: 0.2rem;
    box-shadow: 0 0 1em black;
}

dialog::backdrop {
    /* make the backdrop a semi-transparent black */
    background-color: rgba(0, 0, 0, 0.4);
}

#dialog_login {
    min-width:300px;
    min-height: 300px;
    margin:auto;
    text-align: center;
}

#dialog_ajout_membre {
    min-width:300px;
    min-height: 500px;
    margin:auto;
    text-align: center;
    overflow: hidden;
}

#dialog_ajout_admin {
    width: 300px;
    height: 500px;
    object-fit: cover;
}

#dialog_login_admin {
    min-width:300px;
    min-height: 300px;
    margin:auto;
    text-align: center;
}

#dialog_login div {
    margin:20px
}

button {
    box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    background: linear-gradient(to bottom, #8ba155 5%, #96ac66 100%);
    background-color: #80964e;
    border-radius: 6px;
    border: 1px solid #83c41a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #86ae47;
}

button.annuler {
    box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    background: linear-gradient(to bottom, #c8cbc1 5%, #3c3e36 100%);
    background-color: #a3a798;
    border-radius: 6px;
    border: 1px solid #2f2f2e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #575853;
}



/* Formulaires */
input {
    position: relative;
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    padding: 0 16px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 3px;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;
    margin-bottom:20px
}

input:focus {
    border-color: #3a4de2;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}